{% extends "main/index.html" %}
 
{% load account_tags %}
{% load i18n %}

{% block content %}
{% load static %}
  <div class="for_login">
    <div class="login_form">
      <h1>Регистрация</h1>
      <form method="post" autocomplete="off">
        {% csrf_token %}
        <section class="for_input">
          <h2>Имя пользователя</h2>
          <div class="input_container" id="login_insert">
              <img src="{% static '/images/login/user.svg' %}" class="for_input_icn">
              {{ form.username }}
              <label for="for_input_func" class="for_input_func">?</label>
          </div>
        </section>
        <section class="for_input">
          <h2>Электронная почта</h2>
          <div class="input_container" id="login_insert">
              <img src="{% static '/images/login/user.svg' %}" class="for_input_icn">
              {{ form.email }}
          </div>
        </section>
        <section class="for_input">
          <h2>Пароль</h2>
          <div class="input_container">
              <img src="{% static '/images/login/padlock.svg' %}" class='for_input_icn'>
              {{ form.password1 }}
              <input type="checkbox" value="" name="" id="view_password">
              <label for="view_password"><img src="{% static '/images/login/visibility.svg' %}" alt="" class="for_input_func" id="view_password"></label>
          </div>
        </section>
        <section class="for_input">
          <h2>Повторите пароль</h2>
          <div class="input_container">
              <img src="{% static '/images/login/padlock.svg' %}" class='for_input_icn'>
              {{ form.password2 }}
              <input type="checkbox" value="" name="" id="view_password">
          </div>
        </section>
        <section>
        <table>
          <tr>
            <td>
              <input type="checkbox" name="" id="user_accord" style="display: block;" checked>
            </td>
            <td>
              <label for="user_accord">Выражаю согласие с условиями <a href="https://cloud.mail.ru/public/wAzK/spaTqcE16">пользовательского соглашения</a></label>
            </td>
          </tr>
        </table>
        </section>
        <input type="submit" value="Зарегистрироваться" id="user_register" hidden>
        <input type="button" value="Зарегистрироваться" id="registration">
        {% if form.errors %}
          <section class="form_error">
          {% for field in form %}

              {% for error in field.errors %}
                    {{field.label}}: {{ error|escape }}
              {% endfor %}

          {% endfor %}
        </section>
      {% endif %}
      {% trans "Уже зарегистрированы?" %}  <strong><a href="{% urlnext 'account_login' %}">{% trans "Авторизация" %}</a></strong>
    </form>
    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    </div>
  </div>
{% endblock content %}