{% extends "main/index.html" %}
{% block title %}О нас - CMobil{% endblock %}
{% load static %}
{% block content %}
<div class="about_area">
    <div class="container">
        <div class="about_info">
            <img src="{% static '/images/about/about_1.svg' %}" id="about_image_1" alt="">
            <div class="about_us">
                <h1>О нас</h1>
                <p>
                    CarryMobil - компания по предоставлению логистических услуг. Наша миссия - это предоставить удобство, безопасность и хорошее, а главное, качественное обслуживание.
                </p>
            </div>
            <section id="ab_services">
                <div class="flex">
                    <img src="{% static '/images/about/about_2.svg' %}" id="ab_services_image" alt="">
                    <div id="ab_serv_text">
                        <h1>Всегда все на готове!</h1>
                        <p>Мы предоставляем больший выбор услуг.</p>
                    </div>
                </div>
            </section>
            <section class="about_team">
                <div class="flex">
                    <div id="about_team_creating_text">
                        <h1>Сотрудничество</h1>
                        <p>В Cmobil для нас важно сотрудничество с вами и мы стараемся сделать наш сервис более удобным!</p>
                    </div>
                    <img src="{% static '/images/about/about_3.svg' %}" id="creating_team_image" alt="">
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}