{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=0.85, maximum-scale=0.85, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>{% block title %}Главная - CMobil{% endblock %}</title>
    {% block css %}
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <link rel="stylesheet" href="{% static 'styles/media.css' %}">
    <link rel="stylesheet" href="{% static 'styles/animation.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/logo1.png' %}"> 
    <link href="{% static 'images/logo1.png' %}" rel="apple-touch-icon">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pattaya&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles/apple.css' %}" media="only screen and (max-device-width: 480px)" />
    {% endblock %}
    {% block script %}
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
        <script src="{% static 'scripts/jquery.touchSwipe.min.js' %}"></script>
        <script src="{% static 'scripts/main.js' %}"></script>
        <script type="text/javascript" >
            (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
            m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
            (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
         
            ym(74176894, "init", {
                 clickmap:true,
                 trackLinks:true,
                 accurateTrackBounce:true
            });
         </script>
         <noscript><div><img src="https://mc.yandex.ru/watch/74176894" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    {% endblock %}
</head>
<body>
    <div class="for_header"></div>
    <header>
        <div class="container">
            <button id="show_nawmenu">&#9776;</button>
            <div class="navmenu">
                <div id="logo">
                    <table>
                        <tr>
                            <td><a href="{% url 'index' %}">CM</a></td>
                            <td><img src="{% static '/images/landing/flag.svg' %}" id="Russian_flag" alt="" height="30px"></td>
                        </tr>
                    </table>
                </div>
                            <nav>
                                <ul>
                                    <li><a href="{% url 'index' %}">Главная</a></li>
                                    <li><a href="{% url 'report' %}">Помощь</a></li>
                                    <li><a href="{% url 'order' %}">Оформить заказ</a></li>
                                    <li><a href=" {% url 'about' %}">О нас</a></li>
                                    <li><a href="tel:+79196460303">Позвонить</a></li>
                                </ul>
                            </nav>
            </div>
            <div class="login_register">
                {% if request.user.is_authenticated %}
                    <div class="user_head_inf">
                        <table>
                            <tr>
                                <td>
                                    <img src="https://eu.ui-avatars.com/api/?name=
                                {% if request.user.first_name and request.user.last_name %}
                                {{ request.user.first_name }}+{{ request.user.last_name }}
                                {% else %}
                                {{ request.user.username }}
                                {% endif %}
                                &background=41A4FF&color=F0FFF0" style="border-radius: 100%; padding-top: 2px; margin-right: 5px" height="20px" alt="">
                                </td>
                                <td>
                                    <select name="" id="" onchange="top.location=this.value">
                                        <option value="" disabled selected hidden>{{ request.user.username }}</option>
                                        <option value="{% url 'profile' pk=request.user.id %}">Профиль</option>
                                        <option value="{% url 'order_table' %}">Журнал</option>
                                        {% if request.user.is_staff %}
                                            <option value="/admin/">Админка</option>
                                            <option value="{% url 'order_create' %}">Оформить</option>
                                            {% endif %}
                                        <option value="{% url 'logout' %}" id="logout_a">Выйти</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                        </div>
                    </div>
                {% else %}
                <input type="button" value="Войти" id="login_a" onclick="window.location='{% url 'account_login' %}'"> 
                {% endif %}
            </div>
        </div>
    </header>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <div class="footer">
        <a name="contacts"></a>
        <div class="container">
            <div class="footer_nav">
                <div class="flex">
                    <div class="footer_block" id="footer_ab_us">
                        <h2>О нас</h2>
                        <section>
                        <p><label>CarryMobil</label> - Платформа логистических услуг.</p>
                        </section>
                        <section>
                            <div class="flex">
                                <label>Заказ </label>
                                <button class="standart_button" id='footer_to_order' onclick="window.location='{% url 'order' %}'"><img src="" alt="">оформить сейчас</button>
                            </div>
                        </section>
                        <div id="send_news_form">
                            <form action="">
                                <label>Подпишитесь на рассылку<br> новостей</label>
                                <div id="send_news">
                                    <div class="flex_al">                                  
                                        <input type="text" placeholder="Ваша эл.почта...">
                                        <input type="submit" value="&#10004;">
                                    </div>
                                </div>
                            </form>
                        </div>
                        </section>  
                    </div>
                    <div class="footer_block">
                        <h2>Контакты</h2>
                        <section>
                            <h3><img src="{% static '/images/landing/point.svg' %}" class="" id="" alt=""> Адрес</h3>
                            <span>Альметьевск</span>      
                            <h3><img src="{% static '/images/landing/mail.svg' %}" class="" id="" alt=""> Электронная почта</h3>
                            <span>carrymobil@mail.ru</span><br>
                            <span>support@cmobil.ru</span>
                            <h3><img src="{% static '/images/landing/call.svg' %}" class="" id="" alt=""> Номер телефона</h3>
                            <span>8(8553)35-33-35</span>
                            <h3>&#9745; Документация</h3>
                            <span><a href="{% url 'licenses' %}">Лицензии</a></span>
                        </section>
                    </div>
                    <div class="footer_block">
                        <h2>Соц-сети</h2>
                        <section>
                            <table>
                                <tr>
                                    <td><img src="{% static '/images/login/vk.svg' %}" width="30px" class="soc-icon" id="" alt=""></td>
                                    <td><a href=""> vk.com/carrymobil</a></td>
                                </tr>
                                <tr>
                                    <td><img src="{% static '/images/landing/inst.svg' %}" width="30px" class="soc-icon" id="" alt=""></td>
                                    <td><a href="https://www.instagram.com/cmobil21/">@cmobil21</a></td>
                                </tr>
                                <tr>
                                    <td><img src="{% static '/images/login/facebook.svg' %}" width="30px" class="soc-icon" id="" alt=""></td>
                                    <td><a href=""> facebook.com/carrymobil</a></td>
                                </tr>
                            </table>
                        </section>
                    </div>
                </div>
                <div class="footer_dop_info">
                        <div class="flex">
                            <section><label for="">Политика конфиденциальности</label></section>
                            <section><label for="">Политика использования файлов</label></section>
                            <section id="language_change"><label><a>Русский</a> | <a>Английский</a></label></section>
                        </div>
                        <label id="cm_label">Carrymobil 2021</label>
                </div>
            </div>
        </div>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-191554181-1">
        </script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-191554181-1');
        </script>
    </div>
</body>
</html>