{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=0.85, maximum-scale=0.85, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>{% block title %}Главная{% endblock %}</title>
    {% block css %}
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <link rel="stylesheet" href="{% static 'styles/login.css' %}">
    <link rel="stylesheet" href="{% static 'styles/media.css' %}">
    <link rel="stylesheet" href="{% static 'styles/animation.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/logo1.png' %}"> 
    <link href="{% static 'images/logo1.png' %}" rel="apple-touch-icon">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pattaya&display=swap" rel="stylesheet">
    {% endblock %}
    {% block script %}
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="{% static 'scripts/jquery.touchSwipe.min.js' %}"></script>
        <script src="{% static 'scripts/main.js' %}"></script>
    {% endblock %}
</head>
<body>
    <div class="for_header"></div>
    <header>
        <div class="container">
            <div class="logo"><a href="{% url 'index' %}">CM</a></div>
            <button id="show_nawmenu">&#9776;</button>
            <div class="navmenu">
                <nav>
                    <ul>
                        <li><a href="{% url 'index' %}">Главная</a></li>
                        <li><a href="{% url 'report' %}">Помощь</a></li>
                        <li><a href="{% url 'order' %}">Оформить заказ</a></li>
                        <li><a href=" {% url 'about' %}">О нас</a></li>
                        <li><a href="#contacts">Контакты</a></li>
                        {% if user.is_staff %}
                        <li><a href="/admin/">Админ.страница</a></li>
                        <li><a href="{% url 'order_table' %}">Журнал заявок</a></li>
                        <li><a href="{% url 'order_create' %}">Создать заказ</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
            <div class="login_register">
                {% if user.is_authenticated %}
                    <div class="user_head_inf">
                        <div class="flex">
                            <select name="" id="" onchange="top.location=this.value">
                                <option value="" disabled selected hidden>{{ user.username }}</option>
                                <option value="{% url 'profile' %}">Профиль</option>
                                <option value="{% url 'logout' %}" id="logout_a">Выйти</option>
                            </select>
                        </div>
                    </div>
                {% else %}
                    <a href="{% url 'login' %}" id="login_a">Войти</a>
                    <a href="{% url 'register' %}" id="register_a">Регистрация</a>
                {% endif %}
            </div>
        </div>
    </header>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <div class="footer">
        <a name="contacts"></a>
        <div class="container">
            <div class="footer_nav">
                <div class="flex">
                    <div class="footer_block" id="footer_ab_us">
                        <h2>О нас</h2>
                        <section>
                        <p><b>CarryMobil</b> - Платформа логистических <br> услуг.</p>
                            <h3>&#9672; Адрес</h3>
                            <span>Альметьевск</span>      
                            <h3>&#9993; Электронная почта</h3>
                            <span>carrymobil@mail.ru</span><br>
                            <span>support@carrymobil.ru</span>
                            <h3>&#9742; Номер телефона</h3>
                            <span>8(8553)35-33-35</span>
                            <h3>&#9745; Документация</h3>
                            <span><a href="{% url 'licenses' %}">Лицензии</a></span>
                        </section>  
                    </div>
                    <div class="footer_block">
                        <h2>Контакты</h2>
                        <section>
                            <div id="send_news">
                                <form action="">
                                    <input type="text" placeholder="Ваша эл.почта...">
                                    <input type="submit" value="&#10004;">
                                </form>
                            </div>
                            <table>
                                <tr>
                                    <td></td>
                                    <td><a href="https://vk.com/carrymobil">vk.com/carrymobil</a></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><a href="">@carrymobil</a></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><a href="https://facebook.com/carrymobil">facebook.com/carrymobil</a></td>
                                </tr>
                            </table>
                        </section>
                    </div>
                    <div class="footer_block">
                        <h2>Заказ</h2>
                        <section>
                            <button id='footer_to_order' onclick="window.location='{% url 'order' %}'"><img src="" alt="">оформить сейчас</button>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-191554181-1">
        </script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-191554181-1');
        </script>
    </div>
</body>
</html>