{% extends "main/index.html" %}
{% block title %}Главная{% endblock %}
{% load static %}
{% block content %}
    <div id='to_up'><img src="{% static '/images/up-arrow.svg' %}" alt=""></div>
    <div class="menu" id="menu">
        <div class="container">
            <div class="flex">
                <div class="menu_info">
                    <section>
                        <h1><a style="color: #474747;">CARRY</a>MOBIL</h1>
                        <p>Сервис индивидуальных доставок, нацеленная на предоставления особого подхода к каждому клиенту.</p>
                        <br><input type="button" value="заказать" onclick="window.location='/order'" id="to_order">
                    </section>
                </div>
                <div class="menu_image">
                </div>
            </div>
        </div>
    </div>
    <div class="label_title">CarryMobil</div>
    <div class="advantages">
        <div class="container">
            <h1>Преимущества</h1>
            <div class="slider">
                <div class="flex_al">
                    <input type="radio" name="advan_slider" id="advan_1" checked>
                    <input type="radio" name="advan_slider" id="advan_2">
                    <input type="radio" name="advan_slider" id="advan_3">
                    <input type="radio" name="advan_slider" id="advan_4">
                    <label id="left_slide" class="slider_label">&laquo;</label>
                    <div class="advan" id="advan1">
                        <div class="advan_image">
                            <div class="advan_icon" id="advan_icon_1"></div>
                        </div>
                        <div class="advan_text">
                            <section>
                                <h2>Простота</h2>
                                <p>Мы предерживаемся варианта - чем проще, тем лучше. Что облегчает работу пользователей.</p></div>
                            </section>
                    </div>
                    <div class="advan" id="advan2">
                        <div class="advan_image">
                            <div class="advan_icon" id="advan_icon_2"></div>
                        </div>
                        <div class="advan_text">
                            <section>
                                <h2>Спец предложения</h2>
                                <p>Рубль сэкономленный равен рублю заработанному, так же сервис спец предложений экономит ваши деньги.</p>  
                            </section>
                        </div>
                    </div>
                    <div class="advan" id="advan3">
                        <div class="advan_image">
                            <div class="advan_icon" id="advan_icon_3"></div>
                        </div>
                        <div class="advan_text">
                            <section>
                                <h2>Индивидуальность</h2>
                                <p>Сервис заказов в CM предоставляет индивидуальный подход к клиенту, учитывая предпочтения клиента.</p>
                            </section>
                        </div>
                    </div>
                    <div class="advan" id="advan4">
                        <div class="advan_image">
                            <div class="advan_icon" id="advan_icon_4"></div>
                        </div>
                        <div class="advan_text">
                            <section>
                                <h2>Гибкость</h2>
                                <p>Система CM старается как можно оперативнее предоставлять услуги, а также быстро подстраиваеться под условия.</p>
                            </section>
                        </div>
                    </div>
                    <label id="right_slide" class="slider_label">&raquo;</label>
                </div>
            </div>
        </div>
    </div>
    <div class="spec">
        <div class="container">
            <div class="spec_icon"><img src="{% static '/images/landing/spec_icon.svg' %}" alt="" id="spec_icon"></div>
            <h1>Спец предложения</h1>
            <div class="spec_list">
                <div class="flex">
                    <div class="spec_form">
                        <div class="spec_1">
                            <h2>Попутный груз</h2>
                            <h3>19.10.2020</h3>
                            <p>С детства нас приучают, что ошибки — это плохо. Причём везде: и в учёбе, и в жизни, и в работе. Но так ли страшны ошибки в работе? Я разобрался и пришёл к неоднозначным выводам.</p>
                        </div>
                    </div>
                    <div class="spec_form">
                        <div class="spec_2">
                            
                        </div>
                    </div>
                    <div class="spec_form" id="sepc_3">
                        <div class="spec_3">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="comment">
        <div class="container">
            <div class="comment_area">
                {% for review in reviews %}
                <div id="comment_1" class="user_comment"> 
                    <div>
                        {{ review.author }}
                        {{ review.text }}
                        {{ review.published_date }}
                    </div>
                </div>
                {% endfor %}
            </div>
            <a href="review_create"><input type="button" value="Есть что сказать? Оставьте отзыв" id="send_comment"></a>
        </div>
    </div>
{% endblock %}