{% extends "main/index.html" %}
{% block title %}Грузоперевозки - CMobil{% endblock %}
{% load static %}
{% block content %}
    <div class="tel_order"></div>
    <div id='to_up'><img src="{% static '/images/up-arrow.svg' %}" alt=""></div>
    <div class="menu" id="menu">
        <div class="container">
            <div class="flex">
                <div id="menu_info">
                    <section>
                        <div class="flex_al">
                            <div id="menu_logo">
                                <h1><a style="color: #474747;">CARRY</a><br>MOBIL</h1>
                            </div>
                            <div id="tel_calling">
                                <span>Тел: 8(919)-646-03-03</span><br>
                                <input type="button" value="Заказать звонок" class="standart_button" id="tel_order">
                                <div id="user_call">
                                    <form action="" method="post">
                                        {% csrf_token %}
                                        <!-- <a class="standart_button" href="tel:+79872191853">Позвонить</a> -->
                                        <span>Наш номер: <a class="" href="tel:+79196460303">8(919)-646-03-03</a></span>
                                        {{ telorder.user_name }}
                                        {{ telorder.user_tel_number }}
                                        <div class="window_changes">
                                            <input type="button" class="standart_button" id="window_close" value="Отмена">
                                            <input type="submit" class="standart_button" value="Отправить">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section id="menu_text">
                        <p>Платформа грузоперевозочных услуг в <span style="color: #0085ff;">Республике Татарстан</span></p>
                    </section>
                    <section id="to_order">
                        <div class="flex">
                            <span>Оформление заявки<br> займёт не более 5 минут!</span>
                            <input type="button" class="standart_button" value="Оформить заявку" onclick="window.location='{% url 'order' %}'">
                        </div>
                    </section>
                </div>
                <div class="menu_image">
                </div>
            </div>
        </div>
    </div>
    <div class="advantages">
        <div class="container">
            <h1>Почему выберают именно нас?</h1>
            <div class="slider" id="advan_slider">
                <div class="flex_al">
                    <input type="radio" name="advan_slider" id="advan_1" checked>
                    <input type="radio" name="advan_slider" id="advan_2">
                    <input type="radio" name="advan_slider" id="advan_3">
                    <input type="radio" name="advan_slider" id="advan_4">
                    <label id="left_slide" class="slider_label">&laquo;</label>
                    <div class="advan" id="advan1">
                        <div class="advan_image">
                            <div class="advan_icon" id="advan_icon_1"></div>
                        </div>
                        <div class="advan_text">
                            <section>
                                <p>Мы придерживаемся варианта - чем проще, тем лучше. Также оформление заказа происходит без затрудненей.</p></div>
                            </section>
                    </div>
                    <div class="advan" id="advan2">
                        <div class="advan_image">
                            <div class="advan_icon" id="advan_icon_2"></div>
                        </div>
                        <div class="advan_text">
                            <section>
                                <p>Рубль сэкономленный равен рублю заработанному, так же сервис спец предложений экономит ваши деньги.</p>  
                            </section>
                        </div>
                    </div>
                    <div class="advan" id="advan3">
                        <div class="advan_image">
                            <div class="advan_icon" id="advan_icon_3"></div>
                        </div>
                        <div class="advan_text">
                            <section>
                                <p>Система CM старается как можно оперативнее предоставлять услуги, а также быстро подстраиваеться под условия.</p>
                            </section>
                        </div>
                    </div>
                    <div class="advan" id="advan4">
                        <div class="advan_image">
                            <div class="advan_icon" id="advan_icon_4"></div>
                        </div>
                        <div class="advan_text">
                            <section>
                                <p>Сервис заказов в CM предоставляет индивидуальный подход к клиенту, учитывая предпочтения клиента.</p>
                            </section>
                        </div>
                    </div>
                    <label id="right_slide" class="slider_label">&raquo;</label>
                </div>
            </div>
        </div>
    </div>
    <div id="spec">
        <div class="container">
            <div class="flex">
                <div id="spec_info">
                    <h1>Спец - сервисы</h1>
                    <p>Группа специальных услуг CarryMobil, способна обрабатывать каждую деталь,
                        касающуюся конкретных логистических и экспедиторских потребностей наших клиентов, позаботится обо всей вашей логистике.</p>
                </div>
                <div id="spec_list">
                    <div class="flex">
                        <div class="spec_form">
                            <div class="spec" id="spec_1">
                                <h2>Попутный груз</h2>
                                <p>Оформляйте перевозку грузов, получая скидку до 80%, с помощью услуги попутных грузов</p>
                                <input class="spec_detail" type="button" value="Подробнее ->">
                            </div>
                            <div class="spec" id="spec_2">
                                <h2>Попутный груз</h2>
                                <p>Оформляйте перевозку грузов, получая скидку до 80%, с помощью услуги попутных грузов</p>
                                <input class="spec_detail" type="button" value="Подробнее ->">
                            </div>
                            <input type="radio" name="spec_transition" id="for_spec_1" checked>
                            <input type="radio" name="spec_transition" id="for_spec_2">
                            <input type="radio" name="spec_transition" id="for_spec_3">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="comment">
        <div class="container">
            <span>Отзывы</span>
            <h1>Что сказали о нас клиенты?</h1>
            <div class="flex">
                <div class="comment_area">
                    {% for review in reviews %}
                    <div class="user_comment"> 
                        <div>
                            <label>{{ review.author }}</label><br>
                            <label for="">{{ review.stars }}&#9733;</label><br>
                            {{ review.published_date }}<br>
                            {{ review.text }}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div id="comment_image"></div>
            </div>
            {% if user.is_authenticated %}
            <button id="create_comment">&#9734;Оставить отзыв</button>
            {% else %}
                 <p>Вы не авторизированы</p>
            {% endif %}
        </div>
        <div class="comment_create">
            <form method="post">
                <button id="comment_form_close">&#10006;</button> 
                <h2>Ваш отзыв</h2>
                {% csrf_token %}
                <section id="comment_stars">
                    <input type="radio" name="stars" id="star_1">
                    <input type="radio" name="stars" id="star_2">
                    <input type="radio" name="stars" id="star_3">
                    <input type="radio" name="stars" id="star_4">
                    <input type="radio" name="stars" id="star_5">
                    <label for="star_1">&#9734;</label>
                    <label for="star_2">&#9734;</label>
                    <label for="star_3">&#9734;</label>
                    <label for="star_4">&#9734;</label>
                    <label for="star_5">&#9734;</label>
                    {{ review_form.stars }}
                </section>
                {{ review_form.text }}<br>
                <a href="review_create"><input type="submit" value="Отправить отзыв" class="standart_button" id="send_comment"></a>
            </form>
        </div>
    </div>
{% endblock %}