{% extends "main/index.html" %}
{% block title %}Авторизация{% endblock %}

{% block content %}
    <div class="login_form">
        <input type="radio" name="login_transition" id="to_register">
        <input type="radio" name="login_transition" id="to_login" checked>
        <label for="to_register">Или зарегистрируйтесь</label>
        <label for="to_login">Или войдите</label>
        <form action="" id="login">
            <h1>Вход</h1>
            <section class="for_input">
                <h2>Имя пользователя</h2>
                <div class="flex">
                    <img src="/templates/main/static/images/login/user.svg" class="for_input_icn">
                    <input type="password" name="" id="" placeholder="Введите свой пароль" class="form_input" id="user_password">
                    <input type="button" value="?" class="for_input_func">
                </div>
            </section>
            <section class="for_input">
                <h2>Пароль</h2>
                <div class="flex">
                    <img src="/templates/main/static/images/login/padlock.svg" class='for_input_icn'>
                    <input type="password" name="" id="" placeholder="Введите свой пароль" class="form_input" id="user_password">
                    <img src="/templates/main/static/images/login/visibility.svg" class="for_input_func">
                </div>
            </section>
            <section class="forget_password">
                <a href="">Забыли пароль?</a><br>
            </section>
            <input type="submit" value="Войти"><br>
            <span>Войти через:</span><br>
            <section class="login_with">
                <ul>
                    <li><a href=""><img src="/templates/main/static/images/login/vk.svg"></a></li>
                    <li><a href=""><img src="/templates/main/static/images/login/google.svg"></a></li>
                    <li><a href=""><img src="/templates/main/static/images/login/facebook.svg"></a></li>
                </ul>
            </section>
        </form>
        <form action="" id="register" hidden>
            <h1>Регистрация</h1>
            <section class="for_input">
                <h2>Адрес вашей эл. почты</h2>
                <div class="flex">
                    <i class="fa fa-user-o" aria-hidden="true"></i>
                    <input type="text" placeholder="Введите ваш email" class="form_input" id="user_reg_email">
                    <i class="fa fa-user-o" aria-hidden="true"></i><!--svg-->
                </div>
            </section>
            <section class="for_input">
                <h2>Имя пользователя</h2>
                <div class="flex">
                    <i class="fa fa-user-o" aria-hidden="true"></i>
                    <input type="text" placeholder="Придумайте логин" class="form_input" id="user_reg_login">
                    <i class="fa fa-user-o" aria-hidden="true"></i><!--svg-->
                </div>
            </section>
            <section class="for_input">
                <h2>Пароль</h2>
                <div class="flex">
                    <i class="fa fa-user-o" aria-hidden="true"></i>
                    <input type="text" placeholder="Придумайте пароль" class="form_input" id="user_reg_password">
                    <i class="fa fa-user-o" aria-hidden="true"></i><!--svg-->
                </div>
            </section>
            <section class="for_input">
                <div class="flex">
                    <i class="fa fa-user-o" aria-hidden="true"></i>
                    <input type="text" placeholder="Повторите пароль" class="form_input" id="reg_repeat_password">
                    <i class="fa fa-user-o" aria-hidden="true"></i><!--svg-->
                </div>
            </section>
            <input type="submit" value="Зарегистрироваться"><br>
        </form>
    </div>
{% endblock %}