{% extends "main/index.html" %}
{% block title %}Авторизация{% endblock %}

{% block content %}
{% load static %}
    <div class="order_area">
        <div class="order_main">
            <div class="container">
                <div class="order_title">
                    <div class="for_list_1">
                        <div class="order_title_icon">
                            <img src="{% static '/images/order/map.svg' %}" alt="">
                        </div>
                        <h1>Выберите дату, время и точки отправления</h1>
                    </div>
                </div>
                <div class="order_form">
                    <div class="list1">
                        <div class="flex">
                            <div class="road_select">
                                <section>
                                    <h2>Откуда</h2>
                                    <input type="text" name="" id="" placeholder="Населенный пункт, улица, дом отправления груза...">
                                </section>
                                <section>
                                    <h2>Куда</h2>
                                    <input type="text" name="" id="" placeholder="Населенный пункт, улица, дом направления груза...">
                                </section>
                                <section>
                                    <h2>Комментарий</h2>
                                    <input type="text" name="" id="" placeholder="Уточнения к указанным местам">
                                </section>
                                <section id="time_select">
                                    <div class="flex">
                                        <h2>Дата отправки</h2>
                                        <input type="datetime-local" name="" id="">
                                    </div>
                                </section>
                            </div>
                            <div class="map">

                            </div>
                        </div>
                    </div>
                    <div class="list2"></div>
                    <div class="list3"></div>
                    <div class="list4"></div>
                </div>
            </div>
        </div>
        <div class="order_transition">
    
        </div>
    </div>
{% endblock %}