{% extends "main/index.html" %}
{% block title %}Авторизация{% endblock %}

{% block content %}
{% load static %}
{{ all_orders }}
<div>
    <h1>Водители</h1>
    {% if all_orders %}
        {% for el  in all_orders %}
            <div style="background-color: gray;">
                <h3>{{ el.from_adress }} - {{ el.to_adress }}</h3>
                <p>{{ el.gruz_type }}</p>
            </div>
        {% endfor %}
    {% else %}
            <p>У вас нет заказов!</p>
    {% endif %}

    {# Комментарий #}
</div>
{% endblock %}