@media screen and (max-width: 1800px){
    .menu_info h1{
        font-size: 54pt;
    }
}
@media screen and (max-width: 1700px){
    .menu_info h1{
        font-size: 48pt;
    }
    nav li a{font-size: 12pt;}
    .login_register a{font-size: 12pt;}
    #to_order{
        width: auto;
    }
    .menu{
        height: 500px;
    }
    .menu_info, .menu_image{
        width: 50%;
        height: 500px;
    }
}
@media screen and (max-width: 1400px){
    .logo a{
        font-size: 48pt;
    }
    nav li a{font-size: 10pt;}
    .menu_info h1{
        font-size: 40pt;
    }
    .login_register a{font-size: 10pt;}
    .menu{
        height: 450px;
    }
    .menu_info, .menu_image{
        width: 50%;
        height: 450px;
    }
    .label_title{
        font-size: 100pt;
        height: 190px;
    }
    .footer{
        height: 600px;
    }
}
@media screen and (max-width: 1100px){
    .logo a{
        font-size: 40pt;
      
    }
    .menu_info h1{
        font-size: 34pt;
    }
    .menu{
        height: 400px;
    }
    .menu_info, .menu_image{
        width: 50%;
        height: 400px;
    }
}
@media screen and (max-width: 768px){
    header{
        background-color: white;
        position: fixed;
        top:0px;
    }
    .flex{display: block;}
    .for_header{
        height:70px;
    }
    #show_nawmenu{
        opacity: 1;
    }
    .navmenu{
        opacity: 0;
        position: absolute;
        padding-top: 10%;
        right: 50%;
        width: 50%;
        background-color: white;
        height: 1000px;
        box-shadow: 2px 0 0 0px rgba(0, 0, 0, 0.15);
    }
    nav li{
        display: block;
        text-align: left;
        margin: 0 10%;
    }
    nav li a{
        font-size: 24pt;
    }
    .login_register{
        position: absolute;
        left: 75%;
        top:30%;
    }
    .menu_info, .menu_image{
        width: 100%;
        height: 250px;
    } 
    .menu_info section{
        padding-top: 5%;
        width: 50%;
        text-align: center;
        margin: 0 auto;
    }
    .menu{
        width: 100%;
        height: 650px;
    }
    .menu_image{
        padding-top: 15%;
        background-size: 90%;
        background-repeat: no-repeat;
    }
    .advan{
        display: flex;
        margin: 0 auto;
        width: auto;
    }
    .advan_text{
        width: 20%;
    }
}