.orders_area{
    padding: 0.1% 0;
    width: 100%;
    height: auto;
    background-color: #e5e5e5;
}
.orders_form{
    width: 90%;
    margin: 5% auto;
    height: auto;
    background-color: white;
}
.orders_filter{
    padding-top: 5%;
    background-color: #545454;
}
.orders_filter h2{
    color: white;
    font-size: 18pt;
}
.orders_filter_form{
    width: 80%;
    margin: 0 auto;
}
.orders_filter_form section{
    width: 33%;
}
.filter_value li{
    list-style-type: none;
    color: white;
}
#filter_applay{
    text-align: right;
    padding-top: 10%;
    padding-bottom: 2%;
}
#filter_applay input{
    color: white;
}
#orders_table_title{
    border-bottom: 1px solid #949494;
}
#orders_table tr td, #orders_table th{
    text-align: center;
    height: 100%;
    border-right: 1px solid black;
}
#orders_table{
    border: 1px solid white;
    border-collapse: collapse;
}
