.order_area{
    height: 900px;
    background-color: #f5f5f5;
}
.order_form{
    height:65%;
    width: 70%;
    background-color: white;
    border-radius: 20px;
    margin: 0 auto;
}
.order_main{
    height: 90%;
    width: 100%;
}
.order_main h1{
    color: white;
}
.order_main h2{
    color: white;
}
.order_title{
    padding-top: 3%;
    height: auto;
    text-align: center;
}
.order_title h1{
    color: black;
}
.order_title_icon{
    height: 80px;
    width: 80px;
    border-radius: 30px;
    transform: rotate(135deg);
    background-color: #0085ff;
    margin: 0 auto;
    border: 8px solid #aaabb8;
}
.order_title_icon img{
    transform: rotate(-135deg);
}
.list_head:not(#list_head_1):not(#list_head_5){
    display: none;
}
#order_progress{
    height: 40px;
    width:50%;
}
.order_transition{
    height: 10%;
    width: 100%;
    background-color: white;
    text-align: center;
}
.list:not(#list_1):not(#list_5){
    display: none;
}
.list{height: 100%; width: 100%;}
.list #list1{
    display: block;
    height: 100%;
    width: 100%;
}
.road_select{
    width: 50%;
    background-color: #0085ff;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.road_select h2{
    font-size: 20pt;
}
.map{
    width: 50%;
}
.map iframe{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.road_select_form{
    margin-top: 7%;
    height: 90%;
    width: 100%;
}
.road_select section{
    height: 25%;
    width: 80%;
    text-align: center;
    margin: 0 auto;
}
.roads_add{
    margin-top: 2.5%;
    height: 10%;
    margin-left: 10%;
    width: 80%;
}
.roads_add section{
    text-align: left;
    height: 100%;
}
.roads_add button{
    font-size: 16pt;
    height: 30px;
    width: 30px;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
}
#road_del{
    position: relative;
    z-index: 1;
    color: #FF7058;
    font-size: 20pt;
    margin-left: 90%;
    top: -92%;
    height: 0;
}
#road_add_choice{
    display: none;
    background-color: white;
    width: 35%;
    border: 2px solid rgba(0, 0, 0, 0.5);
    position: fixed;
    top:32%;
    left: 32%;
}
#road_add_choice button:not(#road_choice_exit){
    padding: 10% 0;
    width: 100%;
    font-size: 18pt;
}
.road_add_select:hover{
    background-color: #0085ff;
    color: white;
}
#road_choice_exit{
    color:#FF7058;
    position: relative;
    left: 94%;
    font-size: 18pt;
}
.road_select section input, .road_select section textarea, .road_select input[type='datetime-local']{
    font-size: 14pt;
    color: black;
    height: 65%;
    width: 100%;
    border-radius: 10pt;
    background-color: white;
    cursor: text;
}
#time_select{
    height: 15%;
    text-align: left;
    width: 80%;
}
.road_select input[type='datetime-local']{
    height: 60%;
    margin: 0 5%;
    width: 50%; 
}
.order_transition_buttons{
    width: 38%;
    height: 100%;
    margin: 0 auto;
}
.order_transition input[type='button'], .order_transition button{
    height: 50%;
    width: 42%;
    font-size: 18pt;
    margin: 4% auto;
    color: white;
    background-color: #0085ff;
    border-radius: 20px;
}
#order_back_list{
    display: none;
    background-color:#FF7058;
}
.type_select{
    padding: 2.5% 0;
    width: 80%;
    height: 95%;
    margin: 0 auto;
}
.type_select input, .type_select textarea{
    border-radius: 30px;
    width: 40%;
    color:black;
    border: 1px solid #474747;
    height: 80%;
    cursor: text;
    font-size: 16pt;
}
.type_select input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    height: 45px;
    padding-right: 5%;
}
.type_select section{
    height: 10%;
    padding-top: 2.5%;
}
.select_type_info_title{
    width: 25%;
}
.type_select h2{
    color: #474747;
    cursor: help;
}
.type_select select{
    outline: none;
    padding-left: 2%;
    font-size: 16pt;
    color: white;
    background-color: #0085ff;
    border: 1px solid #0085ff;
    width: 40%;
    border-radius: 30px;
    cursor:pointer;
    appearance: none;
}
#goods_type_select option{
    color: white;
}
.type_select select:focus{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.type_select select option{
    text-align: center;
    padding-left: 5%;
}
.type_select textarea{
    width: 37%;
    padding: 0.5% 1.5%;
}
#type_comment{
    height: 20%;
}
.type_dop_info span{
    background: url('../images/order/info.svg');
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: 20px;
    padding-left: 25px;
    color: #474747;
    font-size: 12pt;
}
.list3_image{
    width: 50%;
    height: 100%;
    background-image: url('../images/order/list_3.png');
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: 50%;
}
.list3_params{width: 50%;height: 50%; margin: 10% 0;}
.list3_param{
    width: 70%;
    height: 40%;
    margin-top: 3%;
}
.list3_param table{
    height: 80%;
    width: 90%;
}
.list_3_param_name{
    width: 60%;
    height: 100%;
    background-color: #0085ff;
    vertical-align: middle;
    text-align: center;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.list_3_param_select{
    background-color: #f5f5f5;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
.list_3_param_select input{
    height: 100%;
    width: 90%;
    color: black;
    font-size: 18pt;
}
.list_3_dop_info span{
    background: url('../images/order/info.svg');
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: 20px;
    padding-left: 25px;
    color: #474747;
    font-size: 12pt;
}
.personal_selects{
    width: 50%;
    background-color: #0085ff;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    text-align: center;
}
.personal_selects h1{padding-top: 5%; font-size: 20pt;}
.PS_container{
    height: 95%;
    text-align: center;
    width: 95%;
    margin-right: 5%;
}
.PS_container section{
    padding: 2% 0;
}
.PS_container label{
    width: 35%;
    text-align: center;
}
.full_road{
    height: 30%;
}
#full_road{
    height: 90%;
    width: 65%;
    background-color: white;
    border-radius: 20px;
    outline: none;
}
#id_full_road{
    display: none;
}
#full_road option{
    padding-left: 2pt;
    color: black;
    font-size: 14pt;
}
.full_type{
    height: 10%;
}
.full_type input{
    background-color: white;
    color: black;
    font-size: 16pt;
    height: 70%;
    border-radius: 20px;
    width: 65%;
}
.full_loader{
    height: 5%;
}
.full_loader table{
    background-color: white;
    border-radius: 20px;
    height: 80%;
    width: 65%;
}
.full_loader span{
    color: black;
    font-size: 16pt;
}
.user_tel_number{
    height: 25%;
}
.user_tel_number input{
    height: 50%;
    background-color: white;
    color: black;
    width: 99%;
    margin-right: 1%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 20pt;
}
.total_price_list{
    height: 100%;
    width: 50%;
}
.TP_container{
    width: 90%;
    height: 90%;
    margin: 2.5% auto;
    text-align: left;
    color: black;
}
.TP_container h1{
    color: black;
    font-size: 32pt;
}
.TP_container h2{
    color: black;
}
.TP_container span{
    color: black;
}
.total_price_info{
    width: 80%;
    height: 65%;
    margin: 5% auto;
}
.total_price_info table{
    height: 80%;
    font-size: 16pt;
    text-align: center;
    width: 100%;
} 
.total_price_info table tr{
    height: 15%;
}
.total_price_info table td{
    width: 50%  ;
}
.total_full_price h2{
    font-size: 20pt;
}
.total_full_price span{
    color: #00a66c;
    padding-left: 5%;
    font-size: 24pt;
}
#order_send_button{
    display: none;
    background-color: #00a66c;
}
#order_form{
    height: 100%;
    width: 100%;
}
.list_5_container{
    width: 60%;
    height: 90%;
    margin: 0 auto;
}
.list_5_image{
    width: 100%;
    height: 55%;
    background-image: url('../images/order/final_list.svg');
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: 50% 90%;
}
.list_5_text{
    width: 100%;
    text-align: center;
    height: 45%;
    color: black;
}
.list_5_text h2{
    color: black;
    font-size: 24pt;
}
#id_from_address, #id_to_address, #id_order_price, #id_cargo_type{
    display: none;
}
#list_4 input[type="number"]::-webkit-inner-spin-button {
    display: none;
}

@media screen and (max-width: 1600px){
    .order_main h2{
        font-size: 18pt;
    }
}

@media screen and (max-width: 1400px){
    .order_form{
        width: 85%;
    }
    .road_select section input, .road_select section textarea{
        font-size: 14pt;
    }
    .order_main h2{
        font-size: 18pt;
    }
}

@media screen and (max-width: 1100px){
    .order_form{
        width: 90%;
    }
    .road_select section input, .road_select section textarea, .road_select input[type='datetime-local']{
        font-size: 12pt;
    }
    .order_main h2{
        font-size: 16pt;
    }
}
@media screen and (max-width: 768px){
    .order_title{
        display: none;
    }
    .order_form{
        width: 100%;
        height: 600px;
    }
    .mb_list_head{
        height: 55px;
        background-color: #0085ff;
    }
    .mb_list_head h1{
        font-size: 22pt;
        padding: 2% 2%;
        text-align: right;
    }
    .mb_list_head:not(#mb_list_head_1){
        display: none;
    }
    .mobile_title{display: block;}
    .order_transition_buttons{
        width: 100%;
    }
    .order_transition input[type='button'], .order_transition button {
        width: 40%;
    }
    .road_select_form{
        margin: 0;
    }
    .road_select{
        width: 100%;
        border-radius: 0;
        background-color: white;
    }
    .map{
        display: none;
    }
    .road_select section input, .road_select section textarea{
        border: 1px solid #aaabb8;
        border-radius: 5px;
    }
    .road_select section{
        height: 30%;
         padding-top: 3%;
    }
    .road_select section input, .road_select section textarea{
        font-size: 14pt;
        margin-top: 2%;
    }
    .road_select section input{
        height: 55px;
    }
    .road_select h2{
        color: #0085ff;
    }
    .order_area {
    height: auto;
    }
    #time_select{
        text-align: center;
        padding-top:0;
        padding-bottom: 5%;
    }
    .road_select input[type='datetime-local']{
        width: 100%;
        margin: 0;
        height: 50px;
    }
    /* list2 */
    .type_select section {
        height: 12%;
    }
    .type_select select{
        border-radius: 5px;
        height: 40px;
        width: 100%;
    }
    .type_select select option{
        font-size: 14pt;
        width: 100%;
    }
    .type_select textarea{
        border-radius: 5px;
        width: 100%; 
    }
    .select_type_info_title{
        width: 100%;
        text-align: center;
    }
    .type_info input{
        width: 100%;
    }
    .type_dop_info{
        margin-top: 5%;
    }
    /* list3 */
    .list3_image {
        width: 100%;
        height: 30%;
        background-size: 40%;
        padding-top: 15%;
        padding-top: 20%;
        background-size: 50%;
    }
    .list3_params{
        width: 100%;
        margin: 5% auto;
    }
    .list3_param{
        height: 30%;
        width: 80%;
        margin: 0 auto;
    }
    .list3_param table{
        width: 100%;
    }
    .list_3_dop_info span{
        margin-left: 5%;
    }
    /* list4 */
    .list{
        overflow: hidden;
    }
    .personal_selects{
        width: 100%;
        border-radius: 0;
        margin-top: 10%;
    }
    .total_price_list{
        height: auto;
        width: 100%;
        background-color: #0085ff;
        margin-top:-1%;
    }
    .total_price_info{
        margin: 0 auto;
        display: none;
    }
    .total_price_info h2,.total_price_info span, .total_full_price h2{
        color: #fff;
    }
    .total_full_price{
        text-align: center;
    }
    .TP_container{
        margin: 0 auto;
        padding-top: -2%;
    }
    .TP_container h1{
        display: none;
    }
    .PS_container{
        margin-right: 0;
        width: 100%;
    }
    .PS_container input,#full_road, .PS_container table, .full_loader span{
        background: none;
        border: none;
        color: white;
    }
    .PS_container section:not(.user_tel_number){
        border-bottom: 4px solid rgba(255, 255, 255, 0.5);
    }
    .user_tel_number input{
        width: 100%;
        border-radius: 0;
        margin: 0 auto;
        color: black;
        background-color: #f5f5f5;
        height: 50px;
    }
    #full_road{
        height: 35px;
    }
    #full_road option{
        color: #fff;
    }
    #order_price{
        color: #33d89e;
    }
    #user_telephone{
        color: #474747;
    }
@media screen and (max-width: 479px) {
    .mb_list_head h1 {
        font-size: 18pt;
        padding: 3% 2%;
    }
}
@media screen and (max-width: 379px) {
    .mb_list_head h1{
        font-size: 14pt;
        padding: 5% 2%;
    }
    .list3_image {
        background-size: 50%;
        padding-top: 5%;
    }
}   