{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <link rel="stylesheet" href="{% static 'styles/media.css' %}">
    <title>CarryMobil</title>
</head>
<body>
    <header id="up">
        <div class="container">
            <div class="logo"><a href="/main">CM</a></div>
            <div class="navmenu">
                <nav>
                    <ul>
                        <li><a href="#">Главная</a></li>
                        <li><a href="#help">Помощь</a></li>
                        <li><a href="#order">Оформить заказ</a></li>
                        <li><a href="#ab_us">О нас</a></li>
                        <li><a href="#contacts">Контакты</a></li>
                    </ul>
                </nav>
            </div>
            <div class="login_register">
                <button id="login_a"><a href="">Войти</a></button>
                <button id="register_a"><a href="">Регистрация</a></button>
            </div>
        </div>
    </header>
    <div class="menu" id="menu">
        <div class="container">
            <div class="flex">
                <div class="menu_info">
                    <section>
                        <h1><a style="color: #474747;">CARRY</a>MOBIL</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac odio eu dolor commodo mollis in in quam. Proin rutrum quis sem sed malesuada. Etiam et libero justo. Nunc at accumsan ipsum. Morbi faucibus est sed nisl cursus luctus. Pellentesque ultrices, arcu at ultrices consequat, justo nulla efficitur lectus, vitae sagittis.</p>
                        <br><input type="button" value="заказать" onclick="window.location='/order'" id="to_order">
                    </section>
                </div>
                <div class="menu_image">
                </div>
            </div>
        </div>
    </div>
    <div class='to_up'><a href="#up```">&laquo;</a></div>
    <div class="content">
        <div class="label_title">CarryMobil</div>
        <div class="advantages">
            <div class="container">
                <h1>Преимущества</h1>
                <div class="slider">
                    <div class="flex">
                        <div class="advan">
                            <div class="advan_image">
                                <div class="advan_icon_1"></div>
                            </div>
                            <div class="advan_text">
                                <h2>Простота</h2>
                                <p>Все, что нужно иметь под рукой, всегда там, где вы ожидаете это увидеть</p></div>
                        </div>
                        <div class="advan">
                            <div class="advan_image">
                                <div class="advan_icon_2"></div>
                            </div>
                            <div class="advan_text">
                                <h2>Функциональность</h2>
                                <p>Все функции по управлению, контролю и ведению проектов собраны в одном продукте. В Weeek</p>  
                            </div>
                        </div>
                        <div class="advan">
                            <div class="advan_image">
                                <div class="advan_icon_3"></div>
                            </div>
                            <div class="advan_text">
                                <h2>Безопасность</h2>
                                <p>Терять данные обидно и неприятно. А еще критично для проектов. Мы всерьез заботимся о том, чтобы все данные были в сохранности и безопасности. Все что было в Weeek, останется в Weeek</p>
                            </div>
                        </div>
                        <div class="advan">
                            <div class="advan_image">
                                <div class="advan_icon_4"></div>
                            </div>
                            <div class="advan_text">
                                <h2>Гибкость</h2>
                                <p>Система способна адаптироваться под управление любыми проектами</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="spec">
            <div class="container">
                <div class="spec_icon"><img src="" alt="" id="spec_icon"></div>
                <h1>Спец предложения</h1>
                <div class="spec_list">
                    <div class="flex">
                        <div class="spec_form">
                            <div class="spec_1">
                                <h2>Попутный груз</h2>
                                <h3>19.10.2020</h3>
                                <p>С детства нас приучают, что ошибки — это плохо. Причём везде: и в учёбе, и в жизни, и в работе. Но так ли страшны ошибки в работе? Я разобрался и пришёл к неоднозначным выводам.</p>
                            </div>
                        </div>
                        <div class="spec_form">
                            <div class="spec_2">
                                
                            </div>
                        </div>
                        <div class="spec_form">
                            <div class="spec_3">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="comment">
            <div class="conteiner">
                <div class="comment_area">

                </div>
                <input type="button" value="Есть что сказать? Оставьте отзыв" id="send_comment">
            </div>
        </div>
        <div class="footer">
            <div class="container">
                <div class="footer_nav">
                    <div class="flex">
                        <div class="footer_block" id="footer_ab_us">
                            <h2>О нас</h2>
                            <section>
                            <p><b>CarryMobil</b> - услуги доставки<br>
                                и перевозки внутри города</p>
                                <h3>&#9672; Адрес</h3>
                                <span>Альметьевск</span>      
                                <h3>&#9993; Электронная почта</h3>
                                <span>carrymobil@mail.ru</span>
                                <h3>&#9742; Номер телефона</h3>
                                <span>8(8553)35-33-35</span>
                            </section>  
                        </div>
                        <div class="footer_block">
                            <h2>Контакты</h2>
                            <section>
                                <div id="send_news">
                                    <form action="">
                                        <input type="text" placeholder="Ваша эл.почта...">
                                        <input type="submit" value="&#10004;">
                                    </form>
                                </div>
                                <table>
                                    <tr>
                                        <td></td>
                                        <td><a href="vk.com/carrymobil">vk.com/carrymobil</a></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td><a href="">@carrymobil</a></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td><a href="facebook.com/carrymobil">facebook.com/carrymobil</a></td>
                                    </tr>
                                </table>
                            </section>
                        </div>
                        <div class="footer_block">
                            <h2>Заказ</h2>
                            <section>
                                <button id='footer_to_order'><img src="" alt=""><a href="">оформить сейчас</a></button>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>