{% extends "main/index.html" %}
{% load static %}
{% block title %}Заказ №{{ order.id }}{% endblock %}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'styles/order_manage.css' %}">
{% endblock %}
{% block script %}
{{ block.super }}
    <script src="{% static 'scripts/order.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="orders_area">
        <div class="orders_form">
                <div class="order_info">
                    <h1>Номер заказа № {{ order.id }}</h1>
                    <div class="flex_al">
                        <h2>Детали заказа</h2>
                        {% if order.sended_in %}
                        <h2 id="order_sended_time">Отправлена: {{ order.sended_in }}</h2>
                        {% endif %}
                    </div>
                    <section><h2>Клиент</h2></section>
                    <table>
                        <tr>
                            <th>Статус</th>
                            <th><h2 id="order_status">
                                {% if not order.status == None %}
                                    {% if order.status == 0 %}
                                        Ожидается
                                    {% endif %}
                                    {% if order.status == 1 %}
                                        Обрабатывается
                                    {% endif %}
                                    {% if order.status == 2 %}
                                        Выполняется
                                    {% endif %}
                                    {% if order.status == 3 %}
                                        Завершено
                                    {% endif %}
                                    {% if order.status == -1 %}
                                        Отменено
                                    {% endif %}
                                {% endif %}
                        </h2></th>
                            <th class="order_price">Цена</th>
                            <label id="prices">{{ order.prices }}</label>
                        </tr>
                        <tr>
                            <th>Время начала</th>
                            <td class="order_data">
                                {% if order.sended_in %}
                                    {{ order.start_time }}
                                {% else %}
                                    Не указана
                                {% endif %}
                            </td>
                            <td>{{ order.start_time }}</td>
                        </tr>
                        <tr>
                            <th>Маршрут</th>
                            <td class="order_data">
                                <div class="roads">
                                    <label for="" id="full_road_info">{{ order.full_road }}
                                    </label>
                                </div>
                            </td>
                            <td class="order_price">
                                <label id="full_road_price"></label>
                            </td>
                        </tr>
                        <tr>
                            <th>Грузчики</th>
                            <td class="order_data">
                                {% if not order.loader_count == None %}
                                    {{ order.loader_count }} чел. / {{ order.loader_time_count }} час.
                                {% endif %}
                            </td>
                            <td class="order_price">
                                <label id="loader_price"></label>
                            </td>
                        </tr>
                        <tr>
                            <th>Вид груза</th>
                            <td class="order_data">
                                {{ order.cargo_type }}
                            </td>
                            <td class="order_price">
                                <label id="type_price"></label>
                            </td>
                        </tr>
                        <tr>
                            <th>Водитель</th>
                            <td class="order_data">
                            {% if not order.driver == None %}
                                <a href="{% url 'profile' pk=order.driver.user.id %}">{{ order.driver }}</a>
                            {% else %}
                                <a href="{% url 'order_drivers' pk=order.pk %}">Выбрать водителя</a>
                            {% endif %}
                            </td>
                            <td class="order_price">
                                <label id="type_price"></label>
                            </td>
                        </tr>
                        <tr>
                            <th>Номер тел. клиента:</th>
                            <td class="order_data">
                                {{ order.user_tel_nomer }}
                            </td>
                            <td class="order_price">
                                
                            </td>
                        </tr>
                        <tr>
                            <th>Время отправки:</th>
                            <td class="order_data">
                                {% if not order.start_time == None %}
                                    {{ order.start_time }}
                                {% endif %}
                            </td>
                            <td class="order_price">
                                Итог: {{ order.order_price }} руб.
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="order_changing">
                    {% if order.status < 1 %}
                        <input type="button" value="Удалить" onclick="window.location='{% url 'order_delete' pk=order.pk %}'">
                    {% endif %}
                </div>
            </div>
        </div>
        <script>order_detail()</script>

{% endblock %}