{% extends "main/index.html" %}
{% load static %}
{% block title %}Оформление заказа - CMobil{% endblock %}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'styles/order.css' %}">
{% endblock %}
{% block script %}
{{ block.super }}
    <script src="{% static 'scripts/order.js' %}"></script>
    <script src="https://maps.api.2gis.ru/2.0/loader.js?pkg=full"></script>
    <script type="text/javascript">
        var map;
    
        DG.then(function () {
            map = DG.map('map', {
                center: [54.98, 82.89],
                zoom: 13
            });

            DG.marker([54.98, 82.89]).addTo(map).bindPopup('Вы кликнули по мне!');
        });
    </script>
{% endblock %}
{% block content %}
    <div class="order_area">
        <div class="order_main">
            <div class="container">
                <div class="order_title">
                    <div class="list_head" id="list_head_1">
                        <section class="order_title_icon">
                            <img src="{% static '/images/order/map.svg' %}" alt="">
                        </section>
                        <h1>Выберите дату, время и маршрут</h1>
                    </div>
                    <div class="list_head" id="list_head_2">
                        <section class="order_title_icon">
                            <img src="{% static '/images/order/delivery-box.svg' %}" alt="">
                        </section>
                        <h1>Информация о грузе</h1>
                    </div>
                    <div class="list_head" id="list_head_3">
                        <section class="order_title_icon">
                            <img src="{% static '/images/order/delivery-man.svg' %}" alt="">
                        </section>
                        <h1>Услуга грузчиков</h1>
                    </div>
                    <div class="list_head" id="list_head_4">
                        <section class="order_title_icon">
                            <img src="{% static '/images/order/note.svg' %}" alt="">
                        </section>
                        <h1>Финальный лист</h1>
                    </div>
                    <progress  value="1" max="4" id="order_progress"></progress>
                </div>
                <div class="mobile_title" hidden>
                    <div class="mb_list_head" id="mb_list_head_1">
                        <h1>Точки направления: Шаг 1 из 4</h1>
                    </div>
                    <div class="mb_list_head" id="mb_list_head_2">
                        <h1>Вид груза: Шаг 2 из 4</h1>
                    </div>
                    <div class="mb_list_head" id="mb_list_head_3">
                        <h1>Услуги грузчиков: Шаг 3 из 4</h1>
                    </div>
                    <div class="mb_list_head" id="mb_list_head_4">
                        <h1>Финальный лист: Шаг 4 из 4</h1>
                    </div>
                </div>
                <div class="order_form">
                    <form action="" method="post"  id="order_form" action="order/proces">
                        {% csrf_token %}
                        <div class="list" id="list_1">
                            <div class="flex">
                                <div class="road_select">
                                    <div class="road_select_form">
                                        <h2>{{ form.non_field_errors }}</h2>
                                        <span>{{ error }}</span>
                                        <section>
                                            <table id="city_price" hidden>
                                                {% for el in all_cityprice %}
                                                <tr>
                                                    <td>{{ el.id }}</td>
                                                    <td>{{ el.city_1 }}</td>
                                                    <td>{{ el.city_2 }}</td>
                                                    <td>{{ el.distance }}</td>
                                                        <td>{{ el.price_1_5t }}</td>
                                                        <td>{{ el.price_3t }}</td>
                                                        <td>{{ el.price_5t }}</td>
                                                    </tr>
                                                {% endfor %}
                                            </table>
                                            <h2>Откуда</h2>
                                            <input type="search" list="address_search" value="" placeholder="Населенный пункт, улица, дом отправления груза..." id="from_address">
                                            <datalist id="address_search" onselect="alert('hi')">
                                                {% for el in all_address %}
                                                <option value="{{ el.address }}"></option>
                                                {% endfor %}
                                            </datalist>
                                        </section>
                                        <section>
                                            <h2>Куда</h2>
                                            <input type="search" list="address_search" placeholder="Населенный пункт, улица, дом направления груза..." id="to_address">
                                        </section>
                                        <section>
                                            <h2>Комментарий</h2>
                                            {{ form.road_comment }}
                                        </section>
                                        <div class="roads_add">
                                            <div class="flex_al">
                                                <div class="roads">
                                                    <button class="road_button" id="road_1" onclick="roads_transition(this)">1</button>
                                                </div>
                                                <button id='add_dop_road'>+</button>
                                            </div>
                                        </div>
                                        <section id="time_select">
                                            <div class="flex">
                                                <h2>Дата отправки:</h2>
                                                {{ form.start_time }}
                                            </div>
                                        </section>
                                        <div id="road_add_choice">
                                            <button id="road_choice_exit">&#10006;</button>
                                            <div class="road_add_select">
                                                <button id="passing_road_add">Добавить как попутную точку для</button>
                                                <select name="road_var" id="">
                                                        <option id="passing_from_road"></option>
                                                        <option id="passing_to_road"></option>
                                                    </select>
                                                </div>
                                                <div class="road_add_select">
                                                    <button id="dop_road_adding">Добавить как другой маршрут</button>
                                            </div>
                                        </div>
                                    </div>
                                    <button id="road_del">&#10006;</button>
                                </div>
                                <div class="map">
                                    <div id="map" style="width:100%; height:100%"></div>
                                </div>
                            </div>
                        </div>
                        <div class="list" id="list_2">
                            <div class="type_select">
                                <section>
                                    <div class="flex">
                                        <h2 class="select_type_info_title">Тип груза</h2>
                                        {{ form.cargo_type }}
                                        <select name="type_select" id="goods_type_select">
                                                <option value="0" disabled selected hidden>Выберите тип груза</option>
                                            {% for el in all_types %}
                                                <option value="{{ el.price }}" class="{{ el.cargo_class }}">{{ el.cargo }}</option>
                                            {% endfor %}
                                            <option value="" class="other">Другой</option>
                                        </select>
                                    </div>
                                </section>
                                <div class="type_info">
                                    <div class="for_type" hidden>
                                        <section id="cargo_name" hidden>
                                            <div class="flex">
                                                <h2 class="select_type_info_title">Название</h2>
                                                <input type="text" name="type_title" class="cargo_value" id="cargo_name_value">
                                            </div>
                                        </section>
                                        <section id="cargo_length">
                                            <div class="flex">
                                                <h2 class="select_type_info_title">Длина</h2>
                                                <input type="number" name="cargo_length" class="cargo_value" min="0" max="9" id="cargo_len_value" step="0.1">
                                            </div>
                                        </section>
                                        <section id="cargo_height">
                                            <div class="flex">
                                                <h2 class="select_type_info_title">Высота</h2>
                                                <input type="number" name="cargo_height" class="cargo_value" min="0" max="9" id="cargo_height_value" step="0.1">
                                            </div>
                                        </section>
                                        <section id="cargo_width">
                                            <div class="flex">
                                                <h2 class="select_type_info_title">Ширина</h2>
                                                <input type="number" name="cargo_width" class="cargo_value" min="0" id="cargo_width_value" step="0.1">
                                            </div>
                                        </section>
                                        <section id="cargo_weight">
                                            <div class="flex">
                                                <h2 class="select_type_info_title">Вес</h2>
                                                <input type="number" name="cargo_weight" class="cargo_value" min="0" id="cargo_weight_value" step="10">
                                            </div>
                                        </section>
                                    </div>
                                </div>
                                <section id="type_comment">
                                    <div class="flex">
                                        <h2 class="select_type_info_title">Комментарий</h2>
                                        {{ form.cargo_type_comment }}
                                    </div>
                                </section>
                                <div class="type_dop_info">
                                    <span>Размеры указываются в метрах</span><br>
                                    <span>Вес указывается в кг</span>
                                </div>
                            </div>
                        </div>
                        <div class="list" id="list_3">
                            <div class="flex">
                                <div class="list3_image">
                                </div>
                                <div class="list3_params">
                                    <section class="list3_param">
                                        <table>
                                            <tr>
                                                <td class="list_3_param_name"><h2>Количество</h2></td>
                                                <td class="list_3_param_select">{{ form.loader_count }}</td>
                                            </tr>
                                        </table>
                                    </section>
                                    <section class="list3_param">
                                        <table>
                                            <tr>
                                                <td class="list_3_param_name"><h2>Время</h2></td>
                                                <td class="list_3_param_select">{{ form.loader_time_count }}</td>
                                            </tr>
                                        </table>
                                    </section>
                                    <div class="list_3_dop_info">
                                        <span>Время указывается в часах</span><br>
                                        <span>1 час услуги грузчиков - 400 рублей</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="list" id="list_4">
                            <div class="flex">
                                <div class="personal_selects">
                                    <h1>Выбранные настройки</h1>
                                    <div class="PS_container">
                                        <section class="full_road">
                                            <div class="flex_al">
                                                <label for=""><h2>Маршрут:</h2></label>
                                                <div id="all_roads">
                                                    
                                                </div>
                                                {{ form.full_road }}
                                            </div>
                                        </section>
                                        <section class="full_type">
                                            <div class="flex_al">
                                                <label for=""><h2>Вид груза:</h2></label>
                                                <input type="text" name="full_type" id="full_cargo_type" value="Переезд" disabled>
                                            </div>
                                        </section>
                                        <section class="full_loader">
                                            <div class="flex_al">
                                                <label><h2>Грузчики:</h2></label>
                                                <table>
                                                    <tr>
                                                        <td><span id="loader_count"></span></td>
                                                        <td><span id="loader_time"></span></td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </section>
                                        <section class="user_tel_number">
                                            <span><h1>Введите номер телефона:</h1></span>
                                            {{ form.user_tel_nomer }}
                                        </section>
                                    </div>
                                </div>
                                <div class="total_price_list">
                                    <div class="TP_container">
                                        <h1>Итог</h1>
                                        <div class="total_price_info">
                                            <table>
                                                <tr>
                                                    <td><h2>Маршрут</h2></td>
                                                    <td><span id='road_full_price'>0р</span></td>
                                                </tr>
                                                <tr>
                                                    <td><h2>Вид груза</h2></td>
                                                    <td><span id='type_full_price'>0р</span></td>
                                                </tr>
                                                <tr>
                                                    <td><h2>Грузчики</h2></td>
                                                    <td><span id='loader_price'>0р</span></td>
                                                </tr>
                                            </table>
                                            {{ form.prices }}
                                            {{ form.sended_in }}
                                        </div>
                                        <section class="is_passing_road">
                                            <table>
                                                <tr>
                                                    <td>
                                                        <input type="checkbox" name="" id="is_passing_road">
                                                        <label for="is_passing_road">Оформить как попутный груз (до -95% от стоимости заказа)</label>
                                                    </td>
                                                </tr>
                                            </table>
                                        </section>
                                        <div id="passing_accept_form">
                                            <p>Изменяя текущий груз на попутный, время ожидания заказа увеличивается, для подтверждения нажмите "Да"</p>
                                            <div class="flex" style="margin: 0 auto;">
                                                <input type="button" id="passing_accept" value="Да">
                                                <input type="button" id="passing_cancel" value="Отмена">
                                            </div>
                                        </div>
                                        <section class="total_full_price">
                                            <div class="flex">
                                                <h2>Предварительная стоимость</h2>
                                                <span id="order_price">1500</span>
                                                {{ form.order_price }}
                                            </div>
                                        </section>
                                        <section>
                                            <table>
                                                <tr>
                                                    <td>
                                                      <input type="checkbox" name="" id="order_express">
                                                    </td>
                                                    <td>
                                                      <label for="order_express" aria-label="Выполнение междугородней доставки в выбранный вами день">Экспресс-доставка</label>
                                                    </td>
                                                  </tr>
                                                <tr>
                                                    <td>
                                                    <input type="checkbox" name="" id="user_accord" style="display: block;" checked>
                                                    </td>
                                                    <td>
                                                    <label for="user_accord">Выражаю согласие с условиями <a href="https://cloud.mail.ru/public/rP83/XdrTY3kVN">обработки персональных данных</a></label>
                                                    </td>
                                                </tr>
                                            </table>
                                        </section>
                                    </div>
                                </div>
                            </div>
                            <input type="submit" id="order_send" hidden>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="order_transition">
            <div class="container">
                <div class="order_transition_buttons">
                    <div class="flex">
                        <input type="button" value="Назад" id='order_back_list'>
                        <input type="button" value="Далее" id='order_next_list'>
                        <input type="button" value="Отправить" id='order_send_button'>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}