{% extends "main/index.html" %}
{% block title %}Журнал заявок{% endblock %}

{% block content %}

{% if user.is_staff %}
<div>
    <table class="">
        <tr>
            <th class="">
                Номер заявки
            </th >
            <th class="">
                Дата исполнения
            </th>
            <th class="">
                Отправная точка
            </th>
            <th class="">
                Грузчики<br>( чел/час )
            </th>
            <th class="">
                Вид груза
            </th>
            <th class="">
                Сумма
            </th>
            <th class="">
                Статус
            </th>
            <th class="">
                Действие
            </th>
        </tr>
    {% for order in orders %}
            <tr>
                <td class="">
                    <a href="{% url 'order_detail' pk=order.pk %}">{{ order.id }}</a>
                </td>
                <td class="">
                    {{ order.start_time }}
                </td>
                <td class="">
                    {{ order.from_address }}
                </td>
                <td class="">
                    {{ order.loader_count }}, {{ order.loader_time_count }}
                </td>
                <td class="">
                    {{ order.cargo_type }}
                </td>
                <td class="">
                    {{ order.order_price }}
                </td>
                <td class="">
                    {{ order.status }}
                </td>
                <td class="">
                    <a href="{% url 'order_delete' pk=order.pk %}"><button type="button">Удалить</button></a>
                </td>
                <td class="">
                    <a href="{% url 'order_edit' pk=order.pk %}"><button type="button">Редактировать</button></a>
                </td>
            </tr>
    {% endfor %}
    </table>
    {% else %}
    <span class="text-red font-bold italic text-xl">У вас нет доступа к этой странице</span>
</div>
{% endif %}
{% endblock %}