{% extends "main/index.html" %}
{% load static %}
{% block title %}Журнал заявок{% endblock %}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'styles/order_manage.css' %}">
{% endblock %}
{% block script %}
{{ block.super }}
    <script src="{% static 'scripts/order.js' %}"></script>
{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <div class="container">
            <div class="orders_area">
                <div class="orders_form">
                    <div class="container">
                        <div class="orders_filter">
                            <div class="orders_filter_form">
                                <div class="flex">
                                    <section>
                                        <h2>Дата отправки:</h2>
                                        <div class="filter_value">
                                            <label for="">От:</label><input type="datetime-local" name="date" class="data_filter" id="filter_date1"><br>
                                            <label for="">До:</label><input type="datetime-local" name="date" class="data_filter" id="filter_date2">
                                        </div>
                                    </section>
                                    <section>
                                        <h2>Вид груза:</h2>
                                        <div class="filter_value">
                                            <select name="type_filter" id="type_filter">
                                                <option value="0" disabled selected hidden>Выберите тип груза</option>
                                                <option value="all">Все</option>
                                                {% for el in all_types %}
                                                    <option value="">{{ el.cargo }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </section>
                                    <section>
                                        <h2>Статус заявки:</h2>
                                        <div class="filter_value">
                                            <ul>
                                                <li>
                                                    <input type="checkbox" name="status" id="complited_orders" value="Завершено">
                                                    <label for="complited_orders">Завершено</label>
                                                </li>
                                                <li>
                                                    <input type="checkbox" name="status" id="complit_orders" value="Выполняется">
                                                    <label for="complit_orders">Выполняется</label>
                                                </li>
                                                <li>
                                                    <input type="checkbox" name="status" id="expected_orders" value="Ожидается">
                                                    <label for="expected_orders">Ожидается</label>
                                                </li>
                                                <li>
                                                    <input type="checkbox" name="status" id="canceled_orders" value="Отменено">
                                                    <label for="canceled_orders">Отменено</label>
                                                </li>
                                            </ul>
                                        </div>
                                    </section>
                                </div>
                                <div class="order_table_function">
                                    <div class="flex">
                                        <section>
                                            <a href="{% url 'orders_export' %}">Выгрузить отчёты</a>
                                        </section>
                                        <section>
                                            {% if user.is_staff %}
                                            <a href="{% url 'order_for_dispatcher' %}">Найти заказ</a>
                                            {% endif %}
                                        </section>
                                        <section>
                                            <input type="button" value="Отменить" name="cancel" id="filter_cancel">
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <table id="orders_table">
                                <tr id="orders_table_title">
                                    <th class="row_on_mobile">
                                        Номер заявки
                                    </th>
                                    <th class="">
                                        Дата исполнения
                                    </th>
                                    <th class="">
                                        Маршрут
                                    </th>
                                    <th class="">
                                        Грузчики<br>( чел/час )
                                    </th>
                                    <th class="row_on_mobile">
                                        Вид груза
                                    </th>
                                    <th class="row_on_mobile">
                                        Сумма
                                    </th>
                                    <th class="">
                                        Статус
                                    </th>
                                    <th class="">
                                        Автор
                                    </th>
                                </tr>
                                {% for order in orders %}
                                        <tr data-href="{% url 'order_detail' pk=order.pk %}" class="orders_tr">
                                            <td class="row_on_mobile">
                                                <a href="{% url 'order_detail' pk=order.pk %}">{{ order.id }}</a>
                                            </td>
                                            <td class="">
                                                {% if not order.start_time == None %}
                                                <a href="{% url 'order_detail' pk=order.pk %}">{{ order.start_time }}</a>
                                                <a class="order_start_time" href="{% url 'order_detail' pk=order.pk %}" hidden>{{ order.start_time | date:'c' }}</a>
                                                {% endif %}
                                            </td>
                                            <td class="full_roads">
                                                <a href="{% url 'order_detail' pk=order.pk %}">{{ order.full_road | truncatechars_html:35 }}</a>
                                            </td>
                                            <td class="">
                                                {% if not order.loader_count == None %}
                                                    <a href="{% url 'order_detail' pk=order.pk %}">{{ order.loader_count }}, {{ order.loader_time_count }}</a>
                                                {% else %}
                                                    <a href="{% url 'order_detail' pk=order.pk %}">Не нужны</a>
                                                {% endif %}
                                            </td>
                                            <td class="row_on_mobile">
                                                <a href="{% url 'order_detail' pk=order.pk %}">{{ order.cargo_type }}</a>
                                            </td>
                                            <td class="row_on_mobile">
                                                <a href="{% url 'order_detail' pk=order.pk %}">{{ order.order_price }}</a>
                                            </td>
                                            <td class="order_status">
                                                {% if not order.status == None %}
                                                    {% if order.status == 0 %}
                                                        <a href="{% url 'order_detail' pk=order.pk %}">Ожидается</a>
                                                    {% elif order.status == 1 %}
                                                        <a href="{% url 'order_detail' pk=order.pk %}">В обработке</a>
                                                    {% elif order.status == 2 %}
                                                        <a href="{% url 'order_detail' pk=order.pk %}">Выполняется</a>
                                                    {% elif order.status == 3 %}
                                                        <a href="{% url 'order_detail' pk=order.pk %}">Выполнено</a>
                                                    {% elif order.status == -1 %}
                                                        <a href="{% url 'order_detail' pk=order.pk %}">Отменено</a>
                                                    {% endif %}
                                                {% endif %}
                                            </td>
                                            <td class="">
                                                {% if not order.author == None %}
                                                    {{ order.author }}
                                                {% endif %}
                                            </td>
                                        </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                    {% if messages %}
                        <div class="warning">
                            <div class="warning_text">
                                {% for message in messages %}
                                    <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                                {% endfor %}
                            </div>
                            <div class="warning_action">
                                <input type="button" class="standart_button warning_apply" value="Ок">
                            </div>
                        </div>
                    {% endif %}
                    {% else %}
                    <span class="text-red font-bold italic text-xl">У вас нет доступа к этой странице</span>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

