{% extends "main/index.html" %}
{% block title %}Редактирование профиля{% endblock %}
{% load static %}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'styles/profile.css' %}">
{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <div class="profil_area">
            <div class="container">
                <div class="profile_content">
                    <div class="user_content">
                        <form method="post">
                            <div class="flex">
                                <div class="user_image">
                                    <div class="user_image_content">
                                        <img src="https://eu.ui-avatars.com/api/?name=
                                            {% if request.user.first_name %}
                                            {{ request.user.first_name}}+{{ request.user.last_name}}
                                            {% else %}
                                            {{ request.user.username }}
                                            {% endif %}
                                            &background=41A4FF&color=F0FFF0" style="border-radius: 100%" alt="">
                                        <a href=""><input type="submit" value="Сохранить"></a>
                                    </div>
                                </div>
                                <div class="user_personal_info">
                                    <div class="user_info">
                                        <section class="user_dop_info">
                                            <label for="">Имя: {{ user_form.first_name }}</label><span></span>
                                        </section>
                                        <section class="user_dop_info">
                                            <label for="">Отчество: {{ profile_form.patronymic }}</label><span></span>
                                        </section>
                                        <section class="user_dop_info">
                                            <label for="">Фамилия: {{ user_form.last_name }}</label><span></span>
                                        </section>
                                        <section class="user_dop_info">
                                            <label for="">Город: {{ profile_form.location }}</label><span></span>
                                        </section>
                                        <section class="user_dop_info">
                                            <label for="">Email: {{ user_form.email }}</label><span></span>
                                        </section>
                                        <section class="user_dop_info">
                                            <label for="">Компания: {{ profile_form.company }}</label><span></span>
                                        </section>
                                        <section class="user_dop_info">
                                            <label for="">День рождения: {{ profile_form.birth_date }}</label><span></span>
                                        </section>
                                        <section class="user_dop_info">
                                            <label for="">Номер телефона: {{ profile_form.telephone_number }}</label><span></span><br>
                                        </section>
                                            {% csrf_token %}
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
    <p>Вы не авторизированы</p>
{% endif %}
{% endblock %}