{% extends "main/index.html" %}
{% block title %}Профиль{% endblock %}
{% load static %}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'styles/profile.css' %}">
{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <div class="profil_area">
            <div class="container">
                <div class="profile_content">
                    <div class="user_content">
                        <div class="flex">
                            <div class="user_image">
                                <div class="user_image_content">
                                    <img src="{% static '/images/profile/stock.svg' %}">
                                    <a href="{% url 'update_profile' %}"><input type="button" value="Редактировать"></a>
                                </div>
                            </div>
                            <div class="user_personal_info">
                                <div class="user_info">
                                    <h1>{{ user.username }}
                                        {% if user.is_staff %}
                                            <label>(Администратор)</label>
                                        {% else %}
                                            <label>(Пользователь)</label>
                                        {% endif %}
                                    </h1>
                                    <section class="user_dop_info">
                                        <label for="">Имя: {{ user.first_name }}</label><span></span>
                                    </section>
                                    <section class="user_dop_info">
                                        <label for="">Фамилия: {{ user.last_name }}</label><span></span>
                                    </section>
                                    <section class="user_dop_info">
                                        <label for="">Компания: {{ user.profile.company }}</label><span></span>
                                    </section>
                                    <section class="user_dop_info">
                                        <label for="">День рождения: {{ user.profile.birth_date }}</label><span></span><br>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="transition_block">
                        <div class="flex_al">
                            <section class="transiton_param">
                                <input type="button" value="Настройки">
                            </section>
                            <section class="transiton_param">
                                <input type="button" value="Партнёры">
                            </section>
                            <section class="transiton_param">
                                <input type="button" value="Сообщения">
                            </section>
                            <section class="transiton_param">
                                <input type="button" value="Статистика">
                            </section>
                        </div>
                    </div>
                    <div class="post_add_block">
                        
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <p>Вы не авторизированы</p>
    {% endif %}
{% endblock %}