{% extends "main/index.html" %}
{% block title %}Профиль{% endblock %}
{% load static %}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'styles/profile.css' %}">
{% endblock %}
{% block content %}
    {% if request.user.is_authenticated and not user.is_superuser or request.user.is_superuser %}
        <div class="profil_area">
            <div class="container">
                <div class="profile_content">
                    <div class="user_content">
                        <div class="flex">
                            <div class="user_image">
                                <div class="user_image_content">
                                    <img src="{% static '/images/profile/stock.svg' %}">
                                    <img src="{{ user.profile.avatar.url }}">
                                    {% if user.id == request.user.id %}
                                    <a href="{% url 'update_profile' %}"><input type="button" value="Редактировать"></a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="user_personal_info">
                                <div class="user_info">
                                    <label>{{ user.username }}
                                        {% if user.is_superuser %}
                                            <label>(Администратор)</label>
                                        {% else %}
                                        {% if user.is_staff %}
                                            <label>(Сотрудник)</label>
                                        {% else %}
                                            <label>(Пользователь)</label>
                                        {% endif %}
                                        {% endif %}
                                    </label>
                                        <section class="user_dop_info">
                                            <label for="">Фамилия: {{ user.last_name }}</label><span></span>
                                        </section>
                                    <section class="user_dop_info">
                                        <label for="">Имя: {{ user.first_name }}</label><span></span>
                                    </section>
                                    <section class="user_dop_info">
                                        <label for="">Отчество: {{ user.profile.patronymic }}</label><span></span>
                                    </section>
                                    <section class="user_dop_info">
                                        <label for="">Эл. почта: {{ user.email }}</label><span></span><br>
                                    </section>
                                    {% if not user.profile.birth_date == None %}
                                    <section class="user_dop_info">
                                        <label for="">День рождения: {{ user.profile.birth_date }}</label><span></span><br>
                                    </section>
                                    {% endif %}
                                    <section class="user_dop_info">
                                        <label for="">Номер телефона: {{ user.profile.telephone_number }}</label><span></span><br>
                                    </section>
                                    {% if user.is_staff %}
                                    <section class="user_dop_info">
                                        <label id="profile_dop_info">Доп. информация ...</label>
                                    </section>
                                    <div class="profile_dop closed" id="profile_dop">
                                        <section class="user_dop_info">
                                            <label for="">Компания: {{ user.profile.company }}</label><span></span>
                                        </section>
                                        <section class="user_dop_info">
                                            <label for="">Должность: {{ user.groups.all.0 }}</label><span></span>
                                            </section>
                                            {% if its_driver %}
                                                <section class="user_dop_info">
                                                    <label for="">Рейтинг водителя: {{ driver_lvl }}({{ driver.driver_rating }})</label><span></span><br>
                                                </section>
                                                <section class="user_dop_info">
                                                    <label for="">Авто:</label>
                                                    {% for car in cars %}
                                                        <a href="">{{ car.registration_number }}</a>
                                                    {% endfor %}
                                                </section>
                                                <section class="user_dop_info">
                                                    <label for="">Выполненые заказы: {{ driver.complited_orders }}</label><span></span><br>
                                                </section>
                                                <section class="user_dop_info">
                                                    <label for="">Отмененные заказы: {{ driver.canceled_orders }}</label><span></span><br>
                                                </section>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="transition_block">
                        <div class="flex_al">
                            <section class="transiton_param">
                                <a href="{% url 'order_table' %}" class="transiton_param-input">Мои заказы</a>
                            </section>
                            <section class="transiton_param">
                                <input type="button" class="transiton_param-input" value="Партнёры">
                            </section>
                            <section class="transiton_param">
                                <input type="button" class="transiton_param-input" value="Сообщения">
                            </section>
                            <section class="transiton_param">
                                <input type="button" class="transiton_param-input" value="Статистика">
                            </section>
                        </div>
                    </div>
                    <div class="post_add_block">
                        <div>
                            <table id="user_orders_table">
                                <tr id="user_orders_table_title">
                                    <th class="order_start_time">
                                        Дата исполнения
                                    </th>
                                    <th class="">
                                        Маршрут
                                    </th>
                                    <th class="order_loaders">
                                        Грузчики<br>( чел/час )
                                    </th>
                                    <th class="order_cargo_type">
                                        Вид груза
                                    </th>
                                    <th class="">
                                        Сумма
                                    </th>
                                    <th class="user_orders_table">
                                        Статус
                                    </th>
                                </tr>
                            {% for order in orders %}
                                    <tr data-href="{% url 'order_detail' pk=order.pk %}" class="orders_tr">
                                        <td class="order_start_time">
                                            {% if not order.start_time == None %}
                                            <a href="{% url 'order_detail' pk=order.pk %}">{{ order.start_time }}</a>
                                            <a class="order_start_time" href="{% url 'order_detail' pk=order.pk %}" hidden>{{ order.start_time | date:'c' }}</a>
                                            {% else %}
                                                <a href="{% url 'order_detail' pk=order.pk %}">Не назначена</a>
                                            {% endif %}
                                        </td>
                                        <td class="full_roads">
                                            <a href="{% url 'order_detail' pk=order.pk %}">{{ order.full_road | truncatechars_html:35 }}</a>
                                        </td>
                                        <td class="order_loaders">
                                            {% if not order.loader_count == None %}
                                                <a href="{% url 'order_detail' pk=order.pk %}">{{ order.loader_count }}, {{ order.loader_time_count }}</a>
                                            {% else %}
                                                <a href="{% url 'order_detail' pk=order.pk %}">Не нужны</a>
                                            {% endif %}
                                        </td>
                                        <td class="order_cargo_type">
                                            <a href="{% url 'order_detail' pk=order.pk %}">{{ order.cargo_type }}</a>
                                        </td>
                                        <td class="order_price">
                                            <a href="{% url 'order_detail' pk=order.pk %}">{{ order.order_price }}</a>
                                        </td>
                                        <td class="order_status">
                                            {% if not order.status == None %}
                                                {% if order.status == 0 %}
                                                    <a href="{% url 'order_detail' pk=order.pk %}">Ожидается</a>
                                                {% endif %}
                                                {% if order.status == 1 %}
                                                    <a href="{% url 'order_detail' pk=order.pk %}">Выполнено</a>
                                                {% endif %}
                                                {% if order.status == -1 %}
                                                    <a href="{% url 'order_det  ail' pk=order.pk %}">Отменено</a>
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                    </tr>
                            {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if messages %}
                        <div class="warning">
                            <div class="warning_text">
                                {% for message in messages %}
                                    <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                                {% endfor %}
                            </div>
                            <div class="warning_action">
                                <input type="button" class="standart_button warning_apply" value="Ок">
                            </div>
                        </div>
        {% endif %}
    {% else %}
        {% if not user.is_authenticated %}
        <p>Вы не авторизированы</p>
        {% else %}
        <p>У вас недостаточно прав</p>
        {% endif %}
    {% endif %}
{% endblock %}